@model QuanLyNhanSu.Models.NHANVIEN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NHANVIEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên phòng ban
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONGBAN.TENPB)
        </dd>

        <dt>
            Họ tên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOTEN)
        </dd>

        <dt>
            Địa chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIACHI)
        </dd>

        <dt>
            SĐT
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            Ngày sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYSINH)
        </dd>

        <dt>
            CMND
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CMND)
        </dd>

        <dt>
            Giới tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIOITINH)
        </dd>

        <dt>
            Quê quán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUEQUAN)
        </dd>

        <dt>
            Dân tộc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DANTOC)
        </dd>

        <dt>
            Bảo hiểm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOSOBH)
        </dd>

        <dt>
           Chức vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHUCVU)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MANV }) |
    @Html.ActionLink("Back to List", "Index")
</p>
