@model IEnumerable<QuanLyNhanSu.Models.NHANVIEN>

@{
    ViewBag.Title = "Employee List";
}

    <h2>Employee List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm("Index", "NHANVIENs", FormMethod.Get))
    {
        <b> Search by : </b>
        @Html.RadioButton("searchBy", "HOTEN", true) <text>TENNHANVIEN</text>
        @Html.RadioButton("searchBy", "DIACHI") <text>DIACHI</text>
        @Html.RadioButton("searchBy", "SDT")<text>SDT</text>
        @Html.RadioButton("searchBy", "NGAYSINH")<text>NGAYSINH</text>
        @Html.RadioButton("searchBy", "CMND")<text>CMND</text>
        @Html.RadioButton("searchBy", "GIOITINH")<text>GIOITINH</text>
        @Html.RadioButton("searchBy", "QUEQUAN")<text>QUEQUAN</text>
        @Html.RadioButton("searchBy", "DANTOC")<text>DANTOC</text>
        @Html.RadioButton("searchBy", "SOSOBH")<text>SOSOBH</text> <br />
        @Html.TextBox("search") <input type="submit" value="Search" />

    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Tên phòng ban", "Index", new { sortOrder = ViewBag.TenpbSortParm })
        </th>
        <th>
            @Html.ActionLink("Tên nhân viên", "Index", new { sortOrder = ViewBag.TennvSortParm })
        </th>
        <th>
            @Html.ActionLink("Địa Chỉ", "Index", new { sortOrder = ViewBag.DiachiSortParm })
        </th>
        <th>
            @Html.ActionLink("Số điện thoại", "Index", new { sortOrder = ViewBag.SdtSortParm })
        </th>
        <th>
            @Html.ActionLink("Ngày sinh", "Index", new { sortOrder = ViewBag.NgaysinhSortParm })
        </th>
        <th>
            @Html.ActionLink("CMND", "Index", new { sortOrder = ViewBag.CmndSortParm })
        </th>
        <th>
            @Html.ActionLink("Giới tính", "Index", new { sortOrder = ViewBag.GioitinhSortParm })
        </th>
        <th>
            @Html.ActionLink("Quê quán", "Index", new { sortOrder = ViewBag.QuequanSortParm })
        </th>
        <th>
            @Html.ActionLink("Dân tộc", "Index", new { sortOrder = ViewBag.DantocSortParm })
        </th>
        <th>
            @Html.ActionLink("Số bảo hiểm", "Index", new { sortOrder = ViewBag.SobhSortParm })
        </th>
        <th>
            @Html.ActionLink("Chức vụ", "Index", new { sortOrder = ViewBag.ChucvuSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PHONGBAN.TENPB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOTEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DIACHI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYSINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CMND)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIOITINH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QUEQUAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DANTOC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOSOBH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CHUCVU)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MANV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MANV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MANV })
        </td>
    </tr>
}

</table>
