@model IEnumerable<TestQLNSu.BANGCAP>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NHANVIEN.HOTEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TENBC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LOAIBC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYCAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DVCAP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NHANVIEN.HOTEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TENBC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LOAIBC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYCAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DVCAP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MABC }) |
            @Html.ActionLink("Details", "Details", new { id=item.MABC }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MABC })
        </td>
    </tr>
}

</table>
