@model IEnumerable<QuanLyNhanSu.Models.PHONGBAN>

@{
    ViewBag.Title = "Institution List";
}

    <h2>Institution List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm("Index", "PHONGBANs", FormMethod.Get))
    {
        <b> Search by : </b>
        @Html.RadioButton("searchBy", "TENPB", true) <text>TENPHONGBAN</text>
        @Html.RadioButton("searchBy", "TRGPB") <text>TRUONGPHONGBAN</text> <br />
        @Html.TextBox("search") <input type="submit" value="Search" />

    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Tên phòng ban", "Index", new { sortOrder = ViewBag.TenpbSortParm })
        </th>
        <th>
            @Html.ActionLink("Trường phòng", "Index", new { sortOrder = ViewBag.TruongpbSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TENPB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRGPB)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MAPB }) |
            @Html.ActionLink("Details", "Details", new { id=item.MAPB }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MAPB })
        </td>
    </tr>
}

</table>
